@import 'variables'

*
	font-family: "Segoe UI", sans-serif
	color: $white
	scrollbar-color: $darkgray
	scrollbar-width: length(5px)
	scrollbar-gutter: stable

::-webkit-scrollbar
	width: 5px

::-webkit-scrollbar-thumb
	background-color: $gray
	border-radius: 100vw

	&:hover
		background-color: $darkgray

a
	color: $accent-red
	text-decoration: none

	*
		color: $accent-red

body
	background-color: $black
	margin-top: $header-height

blockquote
	font-size: larger

code
	color: $white
	font-family: Consolas, monospace

code *, kbd
		font-family: Consolas, monospace

h1
	font-size: xx-large
	color: $accent-green
	margin-bottom: 20px


section
	display: flex
	flex-direction: column
	padding: $section-padding
