@import '../../styles/variables'

.sectionCommandInterpreter
	display: flex
	flex-direction: column
	padding: $section-padding

	code
		margin-bottom: 60px

		*
			font-size: x-large

	.command::before
		content: '$ '

	.italic
		font-style: italic

	.bold
		font-weight: bolder

	.red
		color: $accent-red

	h1
		color: $accent-green
