@import '../../styles/main'
@import '../../styles/variables'

.intro
	height: 100vh
	display: flex
	flex-direction: column
	justify-content: center
	align-items: center
	padding: 80px

	h1
		color: $white
		font-size: xxx-large
		margin-bottom: 30px

		span
			color: $accent-green
			font-weight: lighter

	menu
		@include flex-row-center

		a
			margin-inline: 20px
